<ion-header  >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false" class="new-background-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>sensor-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true" >
  <div class=" label  w-full h-1/6 flex items-center justify-center font-bold  ">

   <h1> SERRE #{{serre.idSerre}} </h1>


  </div>
   <div class=" w-full  ">
  <ion-grid>

    <ion-row class="row-card">

      <ion-col size="6" class="col-card  shadow-2xl"  *ngFor="let ages of Ages ">
        <ion-button style="" shape="round" color="white" class="hidden-button  " [routerLink]="['/sensors/1']">
        <ion-card class="card-service  ">
          <ion-img alt=""  src="../../assets/images/{{ages.img}}" class="img-service " > </ion-img>
          <ion-label class="ion-t" >  {{ages.value}}</ion-label>
        </ion-card>
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
</div>
 <!-- <div class="flex flex-wrap justify-center items-center w-full h-1/6 items-center justify-center  ">

    <input  type="submit" value="carte" class="w-1/2 transition-colors duration-500 transform shadow-2xl text-yellow-700 rounded-lg h-1/2 text-vertBill hover:bg-yellow-700 hover:text-gray-100 " [routerLink]="['/map']"  >


  </div>-->
  <div  class="flex flex-wrap justify-center items-center w-full h-1/6 items-center justify-center  " >

   <ion-text>
     <h1> faire coulisser la liste des capteurs  </h1>
     <h1 class="  flex justify-center text-4xl "> ... </h1>
   </ion-text>
  </div>
  <div class=" w-full  ">




        <ion-slides class="w-full">
        <ng-container *ngFor="let sensor of sensors"  class="w-full shadow-2xl ">

          <ion-slide *ngIf="sensor.idSerre==serre.idSerre" class="w-full justify-items-center shadow-2xl">

            {{sensor.description}} : {{sensor.valeur}}

            <ion-col size="6" class=" slide col-card  justify-items-center  shadow-2xl"  >
                <ng-container class="hidden-button " >

                <ion-card class="card-service"   *ngIf="sensor.description =='humidite air'" >
                  <ion-img alt=""  src="../../assets/images/capteur%20humidité%20air.png" class="img-service  shadow-2xl" > </ion-img>
                </ion-card>

                  <ion-card class="card-service"   *ngIf="sensor.description =='humidite sol'" >
                    <ion-img alt=""  src="../../assets/images/capteur%20humidité%20sol.png" class="img-service  shadow-2xl" > </ion-img>
                  </ion-card>

                  <ion-card class="card-service"   *ngIf="sensor.description =='luminosite'" >
                    <ion-img alt=""  src="../../assets/images/capteur%20luminosité.png" class="img-service  shadow-2xl" > </ion-img>
                  </ion-card>

                  <ion-card class="card-service"   *ngIf="sensor.description =='temperature'" >
                    <ion-img alt=""  src="../../assets/images/capteur%20température.png" class="img-service  shadow-2xl" > </ion-img>
                  </ion-card>

              </ng-container>
            </ion-col>
          </ion-slide>
        </ng-container>
        </ion-slides>



  </div>
</ion-content>
