
.new-background-color{
  --background: #015C5B;
  --color: white;
}



h1 {
  color: #015C5B;
}

h2{
color : #CCF2DB ;}

div
{
 }

h4
{
color: #F77F00 ;
}
 /*.label
 {
   background-color: #d0fff5;
 }   ca marche
*/
