<ion-header  >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false" class="new-background-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>serre-list</ion-title>
    <ion-icon slot="icon-only" name="leaf-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false"  >
<ion-card *ngFor="let serre of serres" id="listcard"   >
 <div class="">
  <ion-card-header>
    <ion-card-subtitle  class="ion-text-start   " >
         <ion-text>
               <h1>
                   SERRE #{{serre.idSerre}}

              </h1>
                   </ion-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid >
          <ion-row class="" >
              <ion-col  >

             <div class=" h-full">


                     <!--<ion-icon name="home">

                  </ion-icon>-->

                    <div class="w-full h-1/2 flex  ">
                     <img src="../../assets/images/serre.png" class="object-contain" alt="serre">
                    </div>


                  <div class=" flex h-1/2 justify-center items-center">
                  <ion-col class=" ">

                     <button
                    class="  transition-colors duration-500 transform  w-full  h-1/2 rounded-md border border-white  shadow-2xl text-xs text-yellow-700 hover:bg-yellow-700 hover:text-gray-100 " routerDirection="root" [routerLink]="['/serres', serre.idSerre]">
                    DETAILS
                  </button>

                  </ion-col>
                  </div>



             </div>

              </ion-col>
              <ion-col >
                <div class=" h-full w-full">

                    <ion-row>
                      <ion-col size="6" >
<!--
                        1L:{{serre. luminosite}}
-->                               <div class="w-full h-full flex ">
                        <img src="../../assets/images/soleil.png" class="object-contain" alt="serre">
                      </div>
                      </ion-col>
                      <ion-col size="6">
<!--
                        2T:{{serre.temperature}}
-->
                       <div class=" flex w-1/2 justify-center items-center   ">
                        <img src="../../assets/images/thermometre.png" class="object-contain flex items-center w-full" alt="serre">
                      </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
<!--
                        3S:{{serre.humiditeSol}}
-->                      <div class="w-1/2 h-full flex ">
                        <img src="../../assets/images/goutte.png" class="object-contain" alt="serre">
                      </div>
                      </ion-col>
                      <ion-col size="6">
<!--
                        4A:{{serre.humiditeAir}}
-->                           <div class="w-1/2 h-full flex ">
                        <img src="../../assets/images/goutte.png" class="object-contain" alt="serre">
                      </div>
                      </ion-col>
                    </ion-row>
                </div>
                  </ion-col>

           </ion-row>
     </ion-grid>
  </ion-card-content>
 </div>
  </ion-card >


    <!--


        <ion-grid>
          <ion-row>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="12" *ngFor="let serre of serres" id="listcard">
              <ion-card class="ion-justify-content-around" >
                serre # {{serre.idSerre}}
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>


      -->


  </ion-content>
