
.new-background-color{
  --background: #015C5B;
  --color: white;
}


.col-card{


  border-radius: 30%;
  background-color: transparent;

  .hidden-button {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;


    .card-service{
      margin: 0px;
      width: 100%;
      height: 130px;
      border-radius: 30%;
      padding: 0px;       /* joue la dedans si tu veux modifier la grosseur du logo  */
      box-shadow: 0 0;
      background-color: transparent;



      .img-service{
        height: 70%;
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
        border: 0 solid ;
        background-color: transparent;   /* gradient en arriere*/
        border-radius: 30%;           /* equivalent de rounded sur tailwind  */
        padding: 15px;
        font-weight: lighter;
      }
      .ion-t {

        background-color: transparent;
        padding-left: 50%;
        font-weight: bolder;




      }
    }
  }
}

