<ion-header  >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false" class="new-background-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste capteurs</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  scroll-y="true" >

  <ion-grid>
    <ion-row class="row-card">
      <ion-col size="6" class="col-card  shadow-2xl " *ngFor="let sensor of sensors ; let i = index">
        <ion-button style="" shape="round" color="white" class="hidden-button   "  >
        <ion-card class="card-service  ">
          <ion-img alt="" *ngIf="sensor.description =='humidite air'" src="../../assets/images/capteur%20humidité%20air.png" class="img-service " > </ion-img>
          <ion-img alt="" *ngIf="sensor.description =='humidite sol'" src="../../assets/images/capteur%20humidité%20sol.png" class="img-service " > </ion-img>
          <ion-img alt="" *ngIf="sensor.description =='luminosite'" src="../../assets/images/capteur%20luminosité.png" class="img-service " > </ion-img>
          <ion-img alt=""  *ngIf="sensor.description =='temperature'"   src="../../assets/images/capteur%20température.png" class="img-service " > </ion-img>
          <ion-label class="ion-t" >  {{sensor.valeur}}</ion-label>
        </ion-card>
        </ion-button>
      </ion-col>
  </ion-row>
  </ion-grid>



</ion-content>
