<ion-header  >
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-menu-button autoHide="false" class="new-background-color"></ion-menu-button>
    </ion-buttons>
    <ion-title>all-sensor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content overflow-scroll="false" scroll-y="false" >

  <ion-grid>

    <ion-row class="row-card">

      <ion-col size="6" class="col-card  " *ngFor="let sensor of sensors ; let i = index">
        <ion-button style="" shape="round" color="white" class="hidden-button  "  [routerLink]="['/sensors/{{sensor.idSensor}}']">
        <ion-card class="card-service  ">
          <ion-img alt=""  src="../../assets/images/{{sensor.img}}" class="img-service h-" > </ion-img>
          <ion-label class="ion-t" >  {{sensor.valeur}}</ion-label>
        </ion-card>
        </ion-button>
      </ion-col>




    </ion-row>
  </ion-grid>



</ion-content>
